{erl_opts, [debug_info]}.

{plugins, [
    {rebar3_gpb_plugin, "1.10.0"},
    rebar3_appup_plugin
]}.

{deps, [
    %{sync, "0.1.3"}
]}.

{relx, [{release, { gateway, "0.1.0" },
         [gateway, game_server_client, control_center_link, table, mnesia,
             glib, esnowflake, ws_server, cowboy, cowlib, ranch, sys_config, zucchini, inets, redisc, eredis,poolboy,
            ssl, public_key, asn1, crypto, stdlib, kernel, websocket_client, jsx,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.
